@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

// Bootstrap custom grid
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: $desktopWidth,
  fhd: $fullHdWidth
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
  fhd: 1600px
);

// Disable bootstrap warnings (because there is my own self-titled mixin `size()`)
$enable-deprecation-messages: false;

// Libs
@import '~bootstrap/scss/bootstrap';
@import '~swiper/dist/css/swiper.css';
@import '~@yaireo/tagify/dist/tagify.css';

html {
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $fullHdWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Modules
@import "modules/common";
@import "modules/libs-settings";
@import "modules/news";