// Font
$mainFont                : 'Open Sans', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;

$fullHdWidth             : 1700px;
$desktopWidth            : 1400px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors

$blue-lightex            : #00C0FF; 
$success-color           : #17C638;
$warning-color           : #FFA210;
$error-color             : #E71C12;
$info-color              : #065FD4;
$confirm-color           : #1763C7;
$cancel-color            : #D33;

// backgrounds
$purple-bg-light         : #7C9EF2;
$green-bg-light          : #D3F9D4;
$blue-bg-light           : #5AAFE7; 

$grey-bg-light           : #FDFDFD;
$grey-bg-base            : #FAFAFA;
$grey-bg-dark            : #EAEAEA;    
$grey-bg-semi-dark       : #F3F3F3;    
       
// transparent backgrounds
$grey-bg-light-trans     : rgba(248, 249, 250, 0.5);
$grey-bg-medium-trans    : rgba(248, 249, 250, 0.625);
$grey-bg-base-trans      : rgba(248, 249, 250, 0.8);
$grey-bg-base-hover      : rgba(248, 249, 250, 0.9);
$grey-bg-dark-trans      : rgba(248, 249, 250, 0.95);
$grey-bg-dark-hover      : rgba(248, 249, 250, 1);

$black-bg-base-trans     : rgba(15, 15, 15, 0.9);
$black-bg-light-trans    : rgba(15, 15, 15, 0.75);
$black-bg-mid-trans      : rgba(15, 15, 15, 0.5);
$black-bg-lightex-trans  : rgba(15, 15, 15, 0.4);

// icons
$grey-icon-base          : #7B7A7B;
$grey-icon-light         : #A6A6A6;

// fonts
$grey-font-dark          : #393838;
$grey-font-base          : #656565;
$grey-font-light         : #888888;
$grey-font-for-bg        : #5C5A5A;
$grey-font-light-header  : #F3F3F3;

$blue-font-light         : #317EC5;
$blue-font-base          : #163A93;
$purple-font-light       : #8E44AD;
$purple-font-base        : #334C98;
$red-font-base           : #C42A2A;

// titles
$grey-font-title         : #5C5A5A;
$grey-font-dark-title    : #4A4848;
$blue-title-base         : #0B38A0;
$blue-news-title         : #0C2971;

// Links
$link-blue-light         : #368DD4;
$link-blue-base          : #153890;

// other
$grey-line-light         : #D6D6D6;