/**
  COMMON MIXINS
**/
@mixin mainSectionTitle {
  background-color: $grey-bg-dark;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: $grey-font-title;
  font-size: rem(35px);
  padding: 10px 85px;
  @media screen and (max-width: $desktopWidth) {
      font-size: rem(30px);
      padding: 10px 50px;
  }
  @media screen and (max-width: $smDesktopWidth) {
      margin-left: 0;
      text-align: center;
      display: block;
  }
  @media screen and (max-width: $phoneWidth) {
      padding: 10px 15px;
  }
}
.main-section-title {
  @include mainSectionTitle;
}

// big purple btn
@mixin bigPurpleBtn {
  background-color: $purple-bg-light;
  font-family: 'Montserrat';
  font-size: rem(20px);
  text-transform: uppercase;
  color: #fff;
  height: 45px;
}

// to display some hash (like SHA256)
@mixin hash {
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: rem(15px);
  font-style: normal;
  color: $grey-font-base;
  letter-spacing: 0.5px;
  white-space: pre-wrap;
  word-break: break-word;
}

/**
  COMMON STYLES
**/

// to make a block with half translucent black background
.black-trans-display {
  @include size(100%);
  background-color: rgba(0, 0, 0, 0.4);
  @include trans01s;
}

// Link with the picture on bg and translucent black
.link-bg-pic-black {
  height: 100px;
  background-color: #fff;
  @include bgImage;
  .link-bg-pic-black-title {
    font-family: 'Montserrat';
    font-size: rem(16px);
    font-weight: 500;
    color: #fff;
    @include trans02s;
  }
  &:hover {
    .black-trans-display { background-color: transparent }
    .link-bg-pic-black-title { display: none }
  }
}

// header with picture
.def-page-header {
  height: 350px !important;
  @include bgImage;
  @media screen and (max-width: $smDesktopWidth) {
    height: 250px !important;
  }
  @media screen and (max-width: $tableWidth) {
    height: 200px !important;
  }
  .container {
    height: 100%;
    .def-page-header-name {
      display: block;
      background-color: $grey-bg-base-trans;
      font-family: 'Montserrat';
      font-size: rem(50px);
      color: $blue-title-base;
      text-transform: uppercase !important;
      letter-spacing: -3.38px;
      font-weight: 500;
      word-break: break-all;
      @media screen and (max-width: $smDesktopWidth) {
        font-size: rem(40px);
      }
    }
  }
}

//
// NewNews default form
//
.nn-def-description {
  padding: 1.5rem;
  border: 1.5px solid $grey-line-light;
  border-radius: 10px;
  font-size: rem(16px);
  font-family: 'Source Sans Pro';
  color: $grey-font-dark;
  p { margin: 0 }
  .bold { font-weight: 600 }
  .attention {
    font-size: rem(20px);
    color: $warning-color;
  }
  .warning {
    font-size: rem(18px);
    font-weight: 600;
    color: $info-color;
  }
}
.nn-def-form {
  background-color: $grey-bg-light;
  // if errors
  .alert-danger {
    ul li { list-style-type: disc }
  }
  .nn-def-label {
    font-family: 'Montserrat';
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
    color: $grey-font-light;
  }
  .nn-def-input {
    display: block;
    width: 100%;
    height: rem(40px);
    border: 1px solid $grey-line-light;
    font-family: 'Source Sans Pro';
    color: $grey-font-dark;
    &::placeholder { font-style: italic }
    &:disabled { background-color: #fff }
  }
  .nn-def-input.invalid { border-bottom: 2px solid $error-color }
  .nn-def-input-desc {
    height: rem(40px);
    background-color: $grey-bg-dark;
    border: 1px solid $grey-line-light;
    border-left: none;
    font-family: 'Montserrat';
    font-size: rem(16px);
    color: $grey-font-for-bg;
    line-height: rem(40px);
    padding: 0 15px;
  }
  textarea.nn-def-input {
    min-height: 200px;
    max-height: 5000px;
  }
  select.nn-def-input {
    font-style: italic;
  }
  .nn-def-counter {
    font-size: rem(14px);
    font-weight: 500;
    color: $grey-font-base;
  }
  .agree-with-docs {
    input[type="checkbox"] { margin-top: 3px }
    label {
      font-family: 'Montserrat';
      color: $grey-font-base;
      font-size: rem(14px);
      a { color: $link-blue-light }
    }
  }
  button[type="submit"] {
    @include bigPurpleBtn;
    width: 245px;
    @media (max-width: $phoneWidth) {
      width: 200px;
    }
  }
}
.nn-def-input-error {
  font-size: rem(12px);
  font-weight: 600;
  color: $error-color;
}
.server-side-errors {
  font-size: rem(14px);
  color: $cancel-color;
}
.def-empty-notification {
  font-size: rem(16px);
  color: $grey-font-base;
}
// additional section below the page news content
.page-news-add-section-title {
  font-size: rem(27px) !important;
  padding: 10px 25px !important;
  @media screen and (min-width: $smDesktopWidth) {
    position: relative !important;
    bottom: -75px !important;
    right: -25px !important;
  }
}
.page-news-add-section {
  background-color: $grey-bg-light;
}

//
// Auth page
//
.login-register-page-bg {
  @include bgImage;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 50px 0;
  .login-register-form-container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 450px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    @media (max-width: 450px) {
      width: 100%;
    }

    .company-name {
      font-family: 'Montserrat';
      font-size: rem(36px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: #fff;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    .company-website {
      font-family: 'Montserrat';
      font-size: rem(16px);
      font-weight: 300;
      color: #fff;
      display: block;
      text-align: center;
      position: relative;
      top: rem(-12px);
    }
    .login-register-errors {
      ul {
        background-color: rgba(255, 255, 255, 0.25);
        li {
          list-style-type: disc;
          font-family: 'Montserrat';
          font-size: rem(14px);
          color: #fff;
        }
      }
    }
    form.main-form {
      .auth-input {
        height: rem(50px);
        line-height: rem(50px);
        width: 100%;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.75);
        color: #fff;
        font-family: 'Montserrat';
        font-size: rem(16px);
        position: relative;
        top: rem(-5px);
      }
      select.auth-input {
        padding-left: rem(10px);
        padding-right: rem(10px);
        option {
          color: black;
        }
      }
      .auth-input.invalid {
        border-bottom: 1px solid $error-color;
      }
      label {
        font-family: 'Montserrat';
        font-size: rem(12px);
        color: #fff;
        opacity: 0.9;
        a { color: #fff }
      }

      .login-register-checkbox {
        /* Customize the label (the container) */
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;
        /* Hide the browser's default checkbox */
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 0.75);
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        /* Show the checkmark when checked */
        input:checked ~ .checkmark:after {
          display: block;
        }
        /* Style the checkmark/indicator */
        .checkmark:after {
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
      
      button[type="submit"] {
        width: 100%;
        height: rem(50px);
        background-color: $blue-bg-light;
        font-family: 'Montserrat';
        font-size: rem(16px);
        font-weight: 500;
        color: #fff;
      }
      .under-submit-links a, .back-btn span, .back-btn .fa-long-arrow-alt-left {
        font-family: 'Montserrat';
        font-size: rem(12px);
        color: #fff;
        opacity: 0.85;
        text-decoration: none;
      }
      .back-btn {
        display: block;
        cursor: pointer;
        text-decoration: none;
        .fa-long-arrow-alt-left { margin-top: rem(8px) }
        span {
          @include trans01s;
          position: relative;
          left: 0;
        }
        &:hover {
          span { left: 10px }
        }
      }
    }
  }
}

//
// Profile page
//
.profile-settings-block {
  .profile-settings-title {
    font-family: 'Montserrat';
    font-size: rem(18px);
    font-weight: 500;
    color: $grey-font-dark;
  }
  .profile-settings-line {
    display: block;
    content: '';
    height: 1px;
    background-color: $grey-line-light;
    margin: rem(10px) 0;
  }
  .profile-settings-desc {
    font-family: 'Montserrat';
    font-size: rem(16px);
    color: $grey-font-dark;
  }
  .profile-settings-body {
    .fa-image, .fa-angle-double-right, .fa-user-astronaut {
      font-size: rem(90px);
      color: $grey-icon-light;
    }
    .fa-angle-double-right { font-size: rem(50px) }
    form.profile-setting-upload-img {
      label {
        cursor: pointer;
        background-color: $grey-bg-dark;
        padding: 5px 10px;
        font-family: 'Montserrat';
        font-size: rem(16px);
        font-weight: 500;
        color: $grey-font-dark;
      }
      input[type="file"] {
        display: none;
      }
    }
    .profile-settings-user-img {
      @include bgImage;
      @include size(100px);
      border-radius: 50%;
      border: 3px solid $grey-icon-light;
    }
  }
  form.profile-settings-switch {
    label {
      font-size: rem(16px);
      font-weight: 400;
      color: $grey-font-dark;
    }
  }
  form.profile-settings-field {
    input[type="text"] {
      min-width: 100px;
      max-width: 175px;
      height: 30px;
      border: 1px solid $grey-line-light;
      padding: 0 10px;
    }
    .profile-settings-input-desc {
      height: 30px;
      background-color: $grey-bg-dark;
      border: 1px solid $grey-line-light !important;
      border-left: none !important;
      font-family: 'Montserrat';
      font-size: rem(16px);
      font-weight: 500;
      color: $grey-font-dark;
      line-height: 30px;
      padding: 0 10px;
      white-space: nowrap;
    }
    .profile-settings-submit {
      background-color: $grey-bg-dark;
      font-family: 'Montserrat';
      font-size: rem(16px);
      font-weight: 500;
      color: $grey-font-dark;
      line-height: 30px;
      padding: 5px 15px;
    }
  }
}