/**
    NEWS MIXINS
**/

// news block
@mixin newsTitle {
  font-size: rem(22px);
  font-weight: 600;
  color: $link-blue-base;
  line-height: rem(23px);
  margin-bottom: 5px;
}
@mixin newsContent {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: rem(16px);
  color: $grey-font-for-bg;
  max-height: 365px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  margin-top: 5px;
}
@mixin newsDateCat {
  font-size: rem(14px);
  font-weight: 600;
  color: $grey-font-for-bg;
  text-transform: uppercase;
  @include newsCat;
}
@mixin newsCat {
  text-decoration: none;
  color: $grey-font-for-bg;
}
@mixin newsLink {
  font-size: rem(20px);
  font-weight: 600;
  color: $link-blue-base;
  text-decoration: none;
  .fa-angle-double-right {
    position: relative;
    top: 1px;
    left: 0;
    @include trans01s;
  }
  &:hover {
    .fa-angle-double-right {
      left: 5px;
    }
  }
}
@mixin newsFixCat {
  font-size: rem(14px);
  font-weight: 600;
  color: $grey-font-for-bg;
  text-transform: uppercase;
  .news-link-cat {
    text-decoration: none;
    color: $grey-font-for-bg;
    &:hover { text-decoration: underline }
  }
}

@mixin readMoreBtn {
  @include newsLink;
  font-family: 'Montserrat';
  font-size: rem(16px);
  font-weight: 500;
  font-style: italic;
  @media screen and (max-width: $smDesktopWidth) {
    top: 25px;
  }
  .fa-angle-double-right {
    margin-left: 3px;
  }
}

/**
    NEWS STYLES
**/

//
// News Article page
//
// Styles for displaying news content
.news-instance {
  .news-content {
    white-space: pre-wrap;
    word-break: break-word;
    font-family: 'Source Sans Pro';
    color: $grey-font-dark;
    font-size: rem(17px);
    line-height: rem(28px);
    br {
      display: block;
      margin-bottom: 2px;
      font-size:2px;
      line-height: 2px;
    }
    // header
    h2 {
      font-size: rem(30px);
      margin-bottom: rem(7px);
    }
    // paragraph
    p {
      margin-bottom: rem(3px);
    }
    // lists
    ol, ul {
      list-style-position: inside; 
      padding: 0 0 0 35px;
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
}